h1{
    color: blue;
}
#login{
    padding-left: 40px;
    padding-top: 5px;
    padding-right: 40px;
    padding-bottom: 5px;
    background-color: blue;
    color: white;
}
#CNA{
    padding-left: 30px;
    padding-top: 5px;
    padding-right: 30px;
    padding-bottom: 5px;
    background-color: green;
    color: white;
}
#s1{
    padding-left: 30px;
    padding-top: 5px;
    padding-right: 30px;
    padding-bottom: 5px;
    background-color: blue;
    color: white;
}
.box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    height: 30px;
}
.nav p{
    display: inline;
    margin-left: 20px;
    height: 20%;
}
.icon p {
    display: inline;
    margin-right: 20px;
    height: 20%;
}
.icon p:hover{
    font-size: 2rem;
    color: black;
}
.box2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    height: 40px;
}
.icon2 p{
    display: inline;
    margin: 20px;
    height: 20%;
}
.icon2 p:hover{
    font-size: 2rem;
    color: black;
}
.box3{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    height: 40px;
} 
.icon3 p {
    display: inline;
    margin-right: 20px;
    height: 20%;
}
.icon3 p:hover{
    font-size: 2rem;
    color: black;
}
.box4 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    height: 40px; 
}
.nav2 p {
    display: inline;
    margin: 30px;
    height: 20%;
}
.nav2 p:hover{
    font-size: 2rem;
    color: black;
}